<div class = "row">
	<div class = "col-md-3">
		<div class = "hpanel hblue">
			<div class = "panel-heading">
				<div panel-tools></div>
				Restart Services
			</div>
			<div class = "panel-body">
				<div ng-repeat = "btn in appBtns">
					<button id = "btn-{{btn.id}}" class = "btn btn-default btn-lg btn-block" ng-click = "restart(btn.id)">{{btn.name}}</button>
				</div>
			</div>
			<div class = "panel-footer">
				Last update: {{lastUpdate | date: 'medium'}}
			</div>
		</div>
	</div>
	<div class = "col-md-9">
		<div class = "hpanel hblue">
			<div class = "panel-heading">
				<div panel-tools></div>
				Logging
			</div>
			<div class = "panel-body">
				<label for = "logTxtArea">Logging Area</label>
				<textArea id="logTxtArea" class = "form-control" rows = "10" auto-scroll="">{{pio.logs}}</textArea>
				<br/>
				<button class = "btn btn-default btn-lg pull-right" ng-click = "clearLog()">Clear Logging Screen</button>

			</div>
			<div class = "panel-footer">
				Last update: {{lastUpdate | date: 'medium'}}
			</div>
		</div>
	</div>
</div>