<div id = "header" ng-include = "'views/common/header.html'"></div>
<aside id = "menu" ng-include = "'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id = "wrapper">
	<div class = "content" animate-panel effect = "zoomIn">
		<div class = "row">
			<div class = "col-lg-5">
				<div class = "hpanel hgreen">
					<div class = "panel-heading ">
						<div panel-tools></div>
						Workspace Activity
					</div>
					<div class = "panel-body">
						<div class = "row">
							<div class = "col-md-9">
								<canvas donutchart = "" options = "opts" data = "data" legend = true responsive = true></canvas>
							</div>
						</div>
						<div class = "row">
							<div class = "col-lg-12">
								<h5>Data is shown in minutes.</h5>
							</div>
						</div>
					</div>
					<div class = "panel-footer">
						Last update: {{lastUpdate | date: 'medium'}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

