@keyframes trackAnimate {
  0% {
    transform: translate(-100%, -100%);
  }
  10% {
    transform: translate(100%, 100%);
  }
  20% {
    transform: translate(-100%, 100%);
  }
  30% {
    transform: translate(100%, -100%);
  }
  40% {
    transform: translate(-100%, -100%);
  }
  50% {
    transform: translate(100%, 100%);
  }
  60% {
    transform: translate(100%, -100%);
  }
  70% {
    transform: translate(-100%, 100%);
  }
  80% {
    transform: translate(-100%, -100%);
  }
  90% {
    transform: translate(100%, -100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}

@-webkit-keyframes trackAnimate {
  0% {
    transform: translate(-100%, -100%);
  }
  10% {
    transform: translate(100%, 100%);
  }
  20% {
    transform: translate(-100%, 100%);
  }
  30% {
    transform: translate(100%, -100%);
  }
  40% {
    transform: translate(-100%, -100%);
  }
  50% {
    transform: translate(100%, 100%);
  }
  60% {
    transform: translate(100%, -100%);
  }
  70% {
    transform: translate(-100%, 100%);
  }
  80% {
    transform: translate(-100%, -100%);
  }
  90% {
    transform: translate(100%, -100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}

@-moz-keyframes trackAnimate {
  0% {
    transform: translate(-100%, -100%);
  }
  10% {
    transform: translate(100%, 100%);
  }
  20% {
    transform: translate(-100%, 100%);
  }
  30% {
    transform: translate(100%, -100%);
  }
  40% {
    transform: translate(-100%, -100%);
  }
  50% {
    transform: translate(100%, 100%);
  }
  60% {
    transform: translate(100%, -100%);
  }
  70% {
    transform: translate(-100%, 100%);
  }
  80% {
    transform: translate(-100%, -100%);
  }
  90% {
    transform: translate(100%, -100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}

@-o-keyframes trackAnimate {
  0% {
    transform: translate(-100%, -100%);
  }
  10% {
    transform: translate(100%, 100%);
  }
  20% {
    transform: translate(-100%, 100%);
  }
  30% {
    transform: translate(100%, -100%);
  }
  40% {
    transform: translate(-100%, -100%);
  }
  50% {
    transform: translate(100%, 100%);
  }
  60% {
    transform: translate(100%, -100%);
  }
  70% {
    transform: translate(-100%, 100%);
  }
  80% {
    transform: translate(-100%, -100%);
  }
  90% {
    transform: translate(100%, -100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}