<div class = "hpanel hred">
	<div class="panel-heading"></div>
	<div class = "panel-body">
		<h3>Ready To Submit Configuration</h3>
		<hr/>
		<h5>Pressing the "Submit" will cause the server to restart all its applications and services. The process will take about a minute to complete.</h5>
	</div>
</div>

<ul class = "pager">
	<li class = "previous">
		<a href = "#" ng-click = "wizard.go(9)">
			<span>&larr; Previous</span>
		</a>
	</li>
	<li class = "next"><a href = "#" ng-click = "update()"> >> Submit << </a>
	</li>
</ul>