
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}


.drop-box {
  background: #F8F8F8 none repeat scroll 0 0;
  border: 5px dashed #DDD;
  width: 100%;
  min-height: 200px;
  text-align: center;
  text-justify: inter-word;
  padding: 25px;
}

/* ========================================================================
   Component: form-elements.less
 ========================================================================== */
/**
 * Custom form elements
 *    - Checkbox
 *    - Radios
 *    - Switch
 *    - Rounded inputs
 */
.c-checkbox,
.c-radio {
  margin-right: 4px;
}
.c-checkbox *,
.c-radio * {
  cursor: pointer;
}
.c-checkbox input,
.c-radio input {
  opacity: 0;
  position: absolute;
  margin-left: 0 !important;
}
.c-checkbox span,
.c-radio span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: -20px;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #ccc;
  margin-right: 5px;
  text-align: center;
}
.c-checkbox span:before,
.c-radio span:before {
  margin-left: 0;
}
.c-checkbox:hover span,
.c-radio:hover span {
  border-color: #5d9cec;
}
.form-inline .c-checkbox span,
.form-inline .c-radio span {
  margin-left: 0;
}
.c-checkbox.c-checkbox-rounded span,
.c-radio.c-checkbox-rounded span,
.c-checkbox.c-radio-rounded span,
.c-radio.c-radio-rounded span {
  border-radius: 500px;
}
/* override for radio */
.c-radio span {
  border-radius: 500px;
}
/* the icon */
.c-checkbox span:before,
.c-radio span:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  text-align: center !important;
  font-size: 12px;
  line-height: 18px;
  vertical-align: middle;
}
/* Checked state */
.c-checkbox,
.c-radio {
  /* override for radio */
  /* Disable state */
  /* override for radio */
}
.c-checkbox input[type=checkbox]:checked + span:before,
.c-radio input[type=checkbox]:checked + span:before,
.c-checkbox input[type=radio]:checked + span:before,
.c-radio input[type=radio]:checked + span:before {
  color: #fff;
  opacity: 1;
  transition: color 0.3s ease-out;
}
.c-checkbox input[type=checkbox]:checked + span,
.c-radio input[type=checkbox]:checked + span,
.c-checkbox input[type=radio]:checked + span,
.c-radio input[type=radio]:checked + span {
  border-color: #5d9cec;
  background-color: #5d9cec;
}
.c-checkbox input[type=radio]:checked + span,
.c-radio input[type=radio]:checked + span {
  background-color: #fff;
}
.c-checkbox input[type=radio]:checked + span:before,
.c-radio input[type=radio]:checked + span:before {
  color: #5d9cec;
}
.c-checkbox input[type=checkbox]:disabled + span,
.c-radio input[type=checkbox]:disabled + span,
.c-checkbox input[type=radio]:disabled + span,
.c-radio input[type=radio]:disabled + span {
  border-color: #dddddd !important;
  background-color: #dddddd !important;
}
.c-checkbox input[type=radio]:disabled + span,
.c-radio input[type=radio]:disabled + span {
  background-color: #fff !important;
}
.c-checkbox input[type=radio]:disabled + span:before,
.c-radio input[type=radio]:disabled + span:before {
  color: #dddddd;
}
.c-radio.c-radio-nofont {
  /* override for radio */
  /* Disable state */
  /* override for radio */
}
.c-radio.c-radio-nofont span:before {
  content: "";
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
  border-radius: 500px;
}
.c-radio.c-radio-nofont input[type=radio]:checked + span:before {
  color: #fff;
  opacity: 1;
  transition: color 0.3s ease-out;
}
.c-radio.c-radio-nofont input[type=radio]:checked + span {
  border-color: #5d9cec;
  background-color: #5d9cec;
}
.c-radio.c-radio-nofont input[type=radio]:checked + span {
  background-color: #fff;
}
.c-radio.c-radio-nofont input[type=radio]:checked + span:before {
  background-color: #5d9cec;
}
.c-radio.c-radio-nofont input[type=radio]:disabled + span {
  border-color: #dddddd !important;
  background-color: #dddddd !important;
}
.c-radio.c-radio-nofont input[type=radio]:disabled + span {
  background-color: #fff !important;
}
.c-radio.c-radio-nofont input[type=radio]:disabled + span:before {
  background-color: #dddddd;
}
.form-control-rounded {
  border-radius: 100px;
}
.switch .form-control {
  padding-top: 7px;
  margin-bottom: 0;
}
.switch * {
  cursor: pointer;
}
.switch input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.switch span {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #dddddd;
  border-radius: 100px;
  transition: all .5s;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1) inset;
  vertical-align: middle;
}
.switch span:after {
  content: "";
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid #ddd;
  border-radius: 400px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .2s;
}
.switch.switch-lg span {
  width: 50px;
  height: 25px;
}
.switch.switch-lg span:after {
  height: 23px;
  width: 23px;
}
.switch.switch-sm span {
  width: 30px;
  height: 15px;
}
.switch.switch-sm span:after {
  height: 13px;
  width: 13px;
}
.switch input:checked + span {
  background-color: #5d9cec;
  border-color: #5d9cec;
  transition: all .5s;
}
.switch input:checked + span:after {
  left: 50%;
  transition: all .2s;
}
.form-control-feedback {
  left: 16px;
  right: auto;
}
.form-control + .form-control-feedback,
.form-control + .parsley-errors-list + .form-control-feedback {
  right: 0;
  left: auto;
  top: 10px;
}
.input-sm + .form-control-feedback,
.input-sm + .parsley-errors-list + .form-control-feedback {
  top: 0;
}
label + .form-control + .form-control-feedback,
label + .form-control + .parsley-errors-list + .form-control-feedback {
  top: 36px;
}
.input-md {
  width: 260px;
}
/* ========================================================================
   Component: form-imgcrop.less
 ========================================================================== */
.imgcrop-area {
  width: 100%;
  height: 410px;
  overflow: hidden;
  background: #dde6e9;
}
.imgcrop-preview {
  position: relative;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  background: #dde6e9;
  text-align: center;
}
.imgcrop-preview:after {
  content: attr(data-text);
  display: block;
  position: absolute;
  height: 50%;
  text-align: center;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  color: #909fa7;
}
.imgcrop-preview > img {
  position: relative;
  z-index: 1;
  max-width: 100%;
}

/* ========================================================================
   Component: form-wizard.less
 ========================================================================== */
.form-wizard > ol {
  list-style-type: none;
  padding: 0 15px;
}
.form-wizard > ol > li {
  min-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fcfcfc;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.form-wizard > ol > li > a {
  text-decoration: none;
}
.form-wizard > ol > li .label {
  background-color: #5d9cec;
  vertical-align: super;
  margin-right: 6px;
}
.form-wizard > ol > li .label[href]:hover,
.form-wizard > ol > li .label[href]:focus {
  background-color: #2f80e7;
}
.form-wizard > ol > li h4 {
  display: inline-block;
  color: #515253;
}
.form-wizard > ol > li small {
  display: block;
  color: #909fa7;
}
.form-wizard > ol > li.active {
  background-color: #5d9cec;
}
.form-wizard > ol > li.active h4,
.form-wizard > ol > li.active small {
  color: #fff;
}
.form-wizard > ol > li.active .label {
  background-color: #fff;
  border-color: #fff;
  color: #5d9cec;
}
.form-wizard .bwizard-buttons {
  margin: 0;
}
.form-wizard .well {
  border: 0;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 0 #000;
}
.form-wizard .well fieldset {
  margin: 0;
}
@media only screen and (min-width: 992px) {
  .form-wizard.wizard-horizontal > ol > li {
    display: inline-block;
  }
}
.form-wizard.wizard-vertical:before,
.form-wizard.wizard-vertical:after {
  content: " ";
  display: table;
}
.form-wizard.wizard-vertical:after {
  clear: both;
}
.form-wizard.wizard-vertical > ol {
  float: left;
  width: 39%;
  padding: 0;
}
.form-wizard.wizard-vertical > ol > li {
  display: block;
  padding: 10px;
}
.form-wizard.wizard-vertical > ol > li h4 {
  font-size: 14px;
}
.form-wizard.wizard-vertical > div {
  float: right;
  width: 59%;
}
.form-wizard.wizard-vertical .pager {
  clear: both;
  padding-top: 10px;
}
.form-wizard.wizard-vertical .well {
  padding: 0;
}

/* ========================================================================
   Component: form-validation.less
 ========================================================================== */
.form-validate .form-control.ng-dirty.ng-invalid {
  border-color: #f05050;
}
.form-validate .form-control.ng-dirty.ng-valid,
.form-validate .form-control.ng-dirty.ng-valid:focus {
  border-color: #27c24c;
}
.form-validate .has-error .form-control {
  border-color: #f05050 !important;
}
.form-validate .c-checkbox input.ng-dirty.ng-invalid + span,
.form-validate .c-radio input.ng-dirty.ng-invalid + span {
  border-color: #f05050;
}
.form-validate .ui-select-container.ng-dirty.ng-invalid .btn {
  border-color: #f05050;
}
.form-validate .input-group .ui-select-container.ng-dirty.ng-invalid .btn {
  margin-left: -1px;
}
.form-validate .chosen-select.ng-dirty.ng-invalid + .chosen-container > .chosen-choices {
  border-color: #f05050;
}
.form-validate .chosen-select.ng-dirty.ng-valid + .chosen-container > .chosen-choices,
.form-validate .chosen-select.ng-dirty.ng-valid:focus + .chosen-container > .chosen-choices {
  border-color: #27c24c;
}
.form-validate .form-control.ng-dirty.ng-invalid + .bootstrap-tagsinput {
  border-color: #f05050;
}
.form-validate .form-control.ng-dirty.ng-valid + .bootstrap-tagsinput,
.form-validate .form-control.ng-dirty.ng-valid:focus + .bootstrap-tagsinput {
  border-color: #27c24c;
}
.parsley-error {
  border-color: #f05050 !important;
}
.parsley-errors-list {
  display: none;
  margin: 0;
  padding: 0;
}
.parsley-errors-list.filled {
  display: block;
}
.parsley-errors-list > li {
  font-size: 12px;
  list-style: none;
  color: #f05050;
}

/* ========================================================================
   Component: datatable.less
 ========================================================================== */
.dataTables_filter input {
  margin-left: 10px;
}
.dataTables_length select {
  margin-right: 10px;
}
table.dataTable tfoot > tr > th {
  color: #a1a2a3;
  background: #f1f2f3;
}
.panel .dataTables_wrapper .row {
  margin: 10px 0;
}
.panel .dataTable {
  width: 100% !important;
}
.ColVis button.ColVis_Button {
  border-radius: 3px;
  font-size: 13px;
  border-color: transparent;
  -webkit-appearance: none;
  outline: none !important;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  border-color: #eaeaea;
  background-image: none;
  box-shadow: 0 0 0 #000;
  cursor: pointer;
  height: 31px;
}
.ColVis button.ColVis_Button.btn-link {
  box-shadow: none;
  border: 0;
}
.ColVis button.ColVis_Button.btn-default {
  border-color: #eaeaea;
}
.input-group .ColVis button.ColVis_Button {
  font-size: 14px;
  border-color: #dde6e9;
}
.input-group .input-sm + .input-group-btn .ColVis button.ColVis_Button {
  font-size: 13px;
}
.ColVis button.ColVis_Button > span {
  color: #656565;
}
.ColVis_collectionBackground {
  display: none;
}
ul.ColVis_collection {
  background-color: #fff !important;
}
ul.ColVis_collection > li {
  border: 0 !important;
  background-image: none !important;
  box-shadow: 0 0 0 #000 !important;
  margin: 0;
}
ul.ColVis_collection > li > label {
  margin: 0;
}
ul.ColVis_collection > li > label > span {
  color: #888;
  vertical-align: top;
  font-weight: normal;
}
ul.ColVis_collection > li > label > span:hover {
  color: #555;
}
ul.ColVis_collection > li > label input[type=checkbox]:checked + span,
ul.ColVis_collection > li > label input[type=radio]:checked + span {
  background-color: transparent;
}
.ColVis_catcher {
  cursor: pointer;
}