<div class = "inmodal">
	<div class = "color-line"></div>
	<div class = "modal-header">
		<h4 class = "modal-title">Touch Panel Details</h4>
		<small class = "font-bold">Android-Based Scheduling Panels</small>
	</div>
	<div class = "modal-body">
		<div class = "hpanel">
			<tabset class = "tabs-left">
				<tab>
					<tab-heading>
						General
					</tab-heading>
					<div class = "panel-body">
						<p><strong>UUID: </strong> {{tp.uuid}}</p>
						<p><strong>Description:</strong> {{tp.description}}</p>
						<p><strong>Status: </strong> {{tp.status}}</p>
					</div>
				</tab>

				<tab>
					<tab-heading>
						History
					</tab-heading>
					<div class = "panel-body">
						<div class = "table-responsive">
							<table cellpadding = "1" cellspacing = "1" class = "table table-bordered table-striped">
								<thead>
								<tr>
									<th>Type</th>
									<th>Current</th>
									<th>Previous</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>Up-time</td>
									<td>{{tp.uptime}}</td>
									<td>{{tp.prevUptime}}</td>
								</tr>
								<tr>
									<td>Heartbeat</td>
									<td>{{tp.heartbeatAt | date: 'short'}}</td>
									<td>{{tp.prevHeartbeatAt | date: 'short'}}</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</tab>
				<tab>
					<tab-heading>
						Settings
					</tab-heading>
					<div class = "panel-body">
						<p><strong>IP:</strong> {{tp.ip}}</p>
						<p><strong>Added:</strong> {{tp.createdAt | date: 'short'}}</p>
						<p><strong>Updated:</strong> {{tp.updatedAt | date: 'short'}}</p>
					</div>
				</tab>
			</tabset>
		</div>
	</div>
	<div class = "modal-footer">
		<button ng-show="tp.showSupport" type = "button" class = "btn btn-outline btn-info" ng-click = "config()">Configuration</button>
		<button type = "button" class = "btn btn-outline btn-primary" ng-click = "cancel()">Close Details</button>
	</div>
</div>

