<!DOCTYPE html>
<html ng-app = 'app' lang = "en">
<head>
	<meta charset = "UTF-8">
	<title>Reset Wayfinder Local Config</title>
</head>
<body ng-controller="ResetCtrl">
<h5>{{text}}</h5>
</body>
<script src = "libs/jquery/jquery.js"></script>
<!-- Angular Modules -->
<script src = "libs/angular/angular.js"></script>
<script src = "libs/ngStorage/ngStorage.js"></script>

<!-- Angular App -->
<script src = "js/reset.js"></script>

</html>